@using GerenciadorTarefas.Data.Models;
@using GerenciadorTarefas.Data.Models.utils;
@model List<TaskModel>

@{
    ViewData["Title"] = "Task Page";
}

<h1 class="fs-2 text-center border-bottom border-dark mb-3">Suas tarefas</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a role="button" class="btn btn-info shadow mb-4" asp-controller="Task" asp-action="Create">Adicionar nova tarefa</a>
</div>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<section class="container-fluid">
    <div class="row justify-content-around g-3">
        <div class="col-md-3 col-sm-auto border border-secondary bg-secondary bg-opacity-25 rounded p-0">
            <p class="bg-secondary bg-opacity-100 fw-bolder text-center">Tarefas não iniciadas</p>
            @if (Model != null && Model.Any())
            {
                foreach (TaskModel task in Model)
                {
                    if (task.status == (int)StatusTaskEnum.Pending)
                    {
                        <div class="text-center d-flex justify-content-between p-2">
                            <span class="mr-3">@task.Title</span>
                            <div class="btn-group shadow-sm gap-1" role="group">
                                <a role="button" class="btn btn-warning" asp-route-id="@task.Id" asp-controller="Task" asp-action="EditTask"><i class="fa-solid fa-pen-to-square"></i></a>
                                <button class="btn btn-danger deleteItem" data-bs-toggle="modal" data-bs-target="#myModal" data-path="@Url.Action("DeleteTask", "Task", new { id = task.Id })"><i class="fa-solid fa-trash"></i></button>
                                <a role="button" class="btn btn-info" asp-route-id="@task.Id" asp-controller="Task" asp-action="ChangeStatus" asp-route-status="2"><i class="fa-solid fa-check"></i></a>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <div class="col-md-3 col-sm-auto border border-info bg-info bg-opacity-25 rounded p-0">
            <p class="bg-info bg-opacity-75 fw-bolder text-center">Tarefas em andamento</p>
            @if (Model != null && Model.Any())
            {
                foreach (TaskModel task in Model)
                {
                    if (task.status == (int)StatusTaskEnum.Started)
                    {
                        <div class="text-center d-flex justify-content-between p-2">
                            <span class="mr-3">@task.Title</span>
                            <div class="btn-group shadow-sm gap-1" role="group">
                                <a role="button" class="btn btn-warning" asp-route-id="@task.Id" asp-controller="Task" asp-action="EditTask"><i class="fa-solid fa-pen-to-square"></i></a>
                                <button class="btn btn-danger deleteItem" data-bs-toggle="modal" data-bs-target="#myModal" data-path="@Url.Action("DeleteTask", "Task", new { id = task.Id })"><i class="fa-solid fa-trash"></i></button>
                                <a role="button" class="btn btn-secondary" asp-route-id="@task.Id" asp-controller="Task" asp-action="ChangeStatus" asp-route-status="3"><i class="fa-solid fa-ban"></i></a>
                                <a role="button" class="btn btn-success" asp-route-id="@task.Id" asp-controller="Task" asp-action="ChangeStatus" asp-route-status="1"><i class="fa-solid fa-check"></i></a>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <div class="col-md-3 col-sm-auto border border-success bg-success bg-opacity-25 rounded p-0">
            <p class="bg-success bg-opacity-75 fw-bolder w-100 text-center">Tarefas concluídas</p>
            @if (Model != null && Model.Any())
            {
                foreach (TaskModel task in Model)
                {
                    if (task.status == (int)StatusTaskEnum.Finished)
                    {
                        <div class="text-center d-flex justify-content-between p-2">
                            <span class="mr-3">@task.Title</span>
                            <div class="btn-group shadow-sm gap-1" role="group">
                                <a role="button" class="btn btn-warning" asp-route-id="@task.Id" asp-controller="Task" asp-action="EditTask"><i class="fa-solid fa-pen-to-square"></i></a>
                                <button class="btn btn-danger deleteItem" data-bs-toggle="modal" data-bs-target="#myModal" data-path="@Url.Action("DeleteTask", "Task", new { id = task.Id })"><i class="fa-solid fa-trash"></i></button>
                                <a role="button" class="btn btn-info" asp-route-id="@task.Id" asp-controller="Task" asp-action="ChangeStatus" asp-route-status="2"><i class="fa-solid fa-ban"></i></a>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Deseja realmente apagar a está tarefa?
                </div>
                <div class="modal-footer">
                    <button id="btnContinueDelete" type="button" class="btn btn-success">Sim</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>